.contacts {
    max-width: 375px;
    margin: 0 auto;
    padding: 65px 25px 65px;
    &__title {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 34px;
      line-height: 42px;
      text-align: center;
      color: #000000;
      text-transform: capitalize;
      margin: 0 0 20px;
    }
    &__text {
      margin: 0 0 20px;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #000000;
    }
    &__social {
      display: flex;
      justify-content: space-around;
      margin: 30px 0;
      &-text {
        margin: 0 0 20px;
        font-family: sans-serif;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #828282;
      }
    }
    &__url {
      font-size: 50px;
      text-decoration: none;
      color: #000000;
      transition: all 0.5s ease;
      &:hover {
        color: green;
        transform: scale(1.2);
        transition: all 0.5s ease;
      }
    }
  }