.portfolio {
  background: #f6f6f6;
  padding: 65px 25px 65px;
  &__title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    margin: 0 0 20px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 70%;
  }
  &__url {
    margin: 14px 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: #828282;
  }
}
