.skills {
  padding: 65px 25px 65px;
  &__title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    margin: 0 0 20px;
  }
  &__card {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
  }
  &__name {
    margin: 14px 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    color: #828282;
  }
  &__img {
    max-width: 200px;
    max-height: 200px;
    height: 100%;
    width: 100%;
  }

  &__rating-result {
    text-align: center;
    width: 265px;
    margin: 0 auto;
    &span {
      padding: 0;
      font-size: 32px;
      margin: 0 3px;
      line-height: 1;
      color: lightgrey;
      text-shadow: 1px 1px #bbb;
    }
    & > span:before {
      content: "★";
    }
    & > span.active {
      color: rgb(255, 217, 4);
      text-shadow: 1px 1px #c60;
    }
  }
}

@media (min-width: 768px) {
  .skills{
    &__img{
      width: 150px;
      height: 150px;
    }
  }
}

@media (min-width: 1000px){
  .skills{
    &__wrapper{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__img {
      max-width: 90px;
      min-height: 90px;
      width: 90px;
      height: 90px;
    }
  }
}


