
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./elements/_var";
@import "./elements/_header";
@import "./elements/_nav";
@import "./elements/_about-me";
@import "./elements/_skills";
@import "./elements/_header";
@import "./elements/_portfolio";
@import "./elements/_contacts";