@import "./elements/_var";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  padding: 65px 25px 65px;
  overflow: hidden;

  &__title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
  }
  &__about {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #090909;
    text-align: left;
    text-transform: uppercase;
  }
  &__img {
    background-image: url("../img/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
  }

  &__burger {
    position: fixed;
    top: 30px;
    right: 30px;
  }

  &__menu-img {
    width: 30px;
    transition: all 0.5s ease 0.1s;
    &--rotate {
      transform: rotate(180deg);
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 400%;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease;
  background-color: #fff;

  &__lang {
    position: absolute;
    right: 0;
    bottom: 100px;
    transform: rotate(90deg);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    color: #828282;
  }

  &__menu {
    width: 100%;
    height: 90%;
    padding: 5% 25px 5%;
    overflow: hidden;
    list-style: none;
  }

  &__item {
    line-height: 42px;
    margin: 0 0 2%;
  }

  &__title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #090909;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__visible {
    left: 0;
  }
}

.about-me {
  background: #f6f6f6;
  padding: 65px 25px 65px;
  &__title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    margin: 0 0 20px;
  }
  &__text{
    margin: 0 0 20px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
}

.skills {
  padding: 65px 25px 65px;
  &__title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    margin: 0 0 20px;
  }
  &__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name{
    margin: 14px 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    color: #828282;
  }
  &__img{
    max-width: 200px;
    max-height: 200px;
    height: 100%;
    width: 100%;
  }

  &__rating-result{
    text-align: center;
    width: 265px;
    margin: 0 auto;
    &span{
      padding: 0;
	    font-size: 32px;
	    margin: 0 3px;
	    line-height: 1;
	    color: lightgrey;
	    text-shadow: 1px 1px #bbb;
    }
    &> span:before {
      content: '★';
    }
    &> span.active {
      color: rgb(255, 217, 4);
      text-shadow: 1px 1px #c60;
    }
  }
}

.portfolio{
  background: #f6f6f6;
  padding: 65px 25px 65px;
  &__title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    margin: 0 0 20px;
  }
  &__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img{
    width: 100%;
  }
  &__url{
    margin: 14px 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: #828282;
  }
}
