body {
  background-color: #252525;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

@media (max-width: 375px) {
  .wrapper {
    max-width: 375px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 83px;
  background: #131313;
}

.header__logo {
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.header__menu {
  max-width: 582px;
  width: 100%;
}

@media (max-width: 1080px) {
  .header__menu {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .header__menu {
    display: none;
  }
}

.header__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__menu .menu__link {
  font-family: 'FuturaBookC';
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 1080px) {
  .header__menu .menu__link {
    font-size: 10px;
    line-height: 12px;
  }
}

.header__menu .menu__link--active {
  color: #E3B873;
}

.header__link-tel {
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 1080px) {
  .header__link-tel {
    font-size: 10px;
    line-height: 12px;
  }
}

.header__link-tel:hover {
  color: #FFFFFF;
}

.header__button {
  height: 37px;
  width: 161px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 1080px) {
  .header__button {
    height: 25px;
    width: 100px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 800px) {
  .header__button {
    display: none;
  }
}

.header__button:hover {
  background: #FFFFFF;
  color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
  cursor: pointer;
}

.home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100vh - 112px);
}

@media (max-width: 850px) {
  .home {
    height: calc(100vh - 83px);
  }
}

.home__screen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./assets/img/home/Group 7.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home__screen__wrapper {
  margin: 60px;
}

@media (max-width: 500px) {
  .home__screen__wrapper {
    margin: 0;
    padding: 10px;
  }
}

.home__screen--title {
  max-width: 600px;
  width: 100%;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 655px) {
  .home__screen--title {
    max-width: 100%;
    font-size: 23px;
    line-height: 132.83%;
  }
}

.home__screen--title--main {
  color: #E3B873;
}

.home__screen--text {
  max-width: 450px;
  width: 100%;
  font-family: 'FuturaBookC';
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

@media (max-width: 655px) {
  .home__screen--text {
    max-width: 100%;
    font-size: 18px;
    line-height: 135.84%;
  }
}

.home__screen--button {
  margin: 0 20px 0 0;
  width: 207px;
  height: 51px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 595px) {
  .home__screen--button {
    width: 95%;
    height: 51px;
    margin: 18px auto;
  }
}

.home__screen--button:hover {
  background: #FFFFFF;
  color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
  cursor: pointer;
}

.home__screen--button--active {
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border: none;
}

.home__scroll {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: -48px;
  width: 247px;
  height: 97px;
  background-color: #131313;
}

@media (max-width: 1080px) {
  .home__scroll {
    height: 50px;
    width: 125px;
    bottom: -25px;
  }
}

@media (max-width: 850px) {
  .home__scroll {
    display: none;
  }
}

.home__scroll--text {
  margin: 20px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 1080px) {
  .home__scroll--text {
    margin: 10px;
    font-size: 10px;
    line-height: 15px;
  }
}

.home__scroll--text:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 1080px) {
  .home__scroll--img {
    height: 15px;
    width: 15px;
  }
}

.instagram {
  width: 82px;
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .instagram {
    display: none;
  }
}

.instagram__link {
  display: block;
  margin: 0 0 40px;
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.completed-projects {
  margin: 0 auto;
  padding: 90px 0;
  background-color: #131313;
}

@media (max-width: 565px) {
  .completed-projects {
    padding: 20px 0px;
  }
}

.completed-projects__slide--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1175px) {
  .completed-projects__slide--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 565px) {
  .completed-projects__slide--wrapper {
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.completed-projects__slide--text {
  max-width: 442px;
  min-width: 442px;
  width: 100%;
  padding: 80px 4rem 0 100px;
}

@media (max-width: 565px) {
  .completed-projects__slide--text {
    max-width: 95%;
    min-width: 95%;
    padding: 0px;
    margin: 0 auto;
  }
}

.completed-projects__slide--main-text {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

@media (max-width: 565px) {
  .completed-projects__slide--main-text {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
  }
}

.completed-projects__slide--description-text {
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

@media (max-width: 565px) {
  .completed-projects__slide--description-text {
    margin: 0 auto;
    font-size: 14px;
    line-height: 158.48%;
    text-align: center;
    width: 90%;
  }
}

.completed-projects__slide--options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 40px 0;
  list-style: none;
}

@media (max-width: 565px) {
  .completed-projects__slide--options {
    margin: 20px auto;
    width: 90%;
  }
}

.completed-projects__slide--option {
  width: 50%;
}

.completed-projects__slide--option span {
  padding: 0;
  margin: 0;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

@media (max-width: 565px) {
  .completed-projects__slide--option span {
    font-size: 14px;
    line-height: 138.6%;
  }
}

.completed-projects__slide--option p {
  margin: 0;
  padding: 5px 0 35px;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

@media (max-width: 565px) {
  .completed-projects__slide--option p {
    padding: 5px 0 20px;
    font-size: 14px;
    line-height: 135.84%;
  }
}

.completed-projects__slide--slides {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1175px) {
  .completed-projects__slide--slides {
    width: 95%;
    margin: 20px auto;
  }
}

.completed-projects__slide--tabs {
  position: relative;
  padding: 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (max-width: 565px) {
  .completed-projects__slide--tabs {
    padding: 0px;
    margin: 0;
  }
}

.completed-projects__slide--tabs .next,
.completed-projects__slide--tabs .prev {
  position: absolute;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}

.completed-projects__slide--tabs .next:hover,
.completed-projects__slide--tabs .prev:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.completed-projects__slide--tabs .next {
  right: 1rem;
  top: 16em;
}

@media (max-width: 1175px) {
  .completed-projects__slide--tabs .next {
    right: 3rem;
    top: 20em;
  }
}

@media (max-width: 650px) {
  .completed-projects__slide--tabs .next {
    right: 1rem;
    top: 16em;
  }
}

@media (max-width: 565px) {
  .completed-projects__slide--tabs .next {
    top: 5em;
  }
}

@media (max-width: 450px) {
  .completed-projects__slide--tabs .next {
    top: 5em;
  }
}

.completed-projects__slide--tabs .prev {
  display: none;
  width: 85px;
  height: 85px;
  left: 3rem;
  top: 16em;
}

@media (max-width: 1175px) {
  .completed-projects__slide--tabs .prev {
    top: 20em;
    display: block;
  }
}

@media (max-width: 650px) {
  .completed-projects__slide--tabs .prev {
    left: .5rem;
    top: 16em;
  }
}

@media (max-width: 565px) {
  .completed-projects__slide--tabs .prev {
    top: 5em;
  }
}

@media (max-width: 375px) {
  .completed-projects__slide--tabs .prev {
    top: 5em;
  }
}

.completed-projects__slide--tab {
  padding: 0 3rem 0 0;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.3;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 565px) {
  .completed-projects__slide--tab {
    display: none;
  }
}

.completed-projects__slide--tab:hover {
  cursor: pointer;
}

.completed-projects__slide--tab--active {
  color: #E3B873;
  opacity: 1;
  text-decoration: underline;
}

.completed-projects__slide--wrapper--slides {
  overflow: hidden;
}

.completed-projects__slide--wrapper--slide {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1175px) {
  .completed-projects__slide--wrapper--slide img:not(:first-child) {
    display: none;
  }
}

.completed-projects__slide--wrapper--slide img {
  padding: 0 2rem 0 0;
}

@media (max-width: 1175px) {
  .completed-projects__slide--wrapper--slide img {
    margin: 0 auto;
    width: 90%;
    padding: 0;
  }
}

@media (max-width: 565px) {
  .slide--nav {
    display: none;
  }
}

.radio-btn {
  margin: 5px;
}

.radio-btn:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #252525;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #252525;
}

.radio-btn:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #FFFFFF;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #FFFFFF;
}

.online-cntrl {
  background-color: #FFFFFF;
}

.online-cntrl--video {
  position: relative;
  background-color: #131313;
  background-image: url("./assets/img/online-ctrl/GroupBg.svg");
  background-position: left bottom;
  background-repeat: repeat-x;
}

@media (max-width: 1050px) {
  .online-cntrl--video {
    background-image: none;
  }
}

.online-cntrl--article {
  margin: 0 auto;
  padding: 4rem 1rem 1rem;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.online-cntrl--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20%;
}

@media (max-width: 1050px) {
  .online-cntrl--logo {
    padding-bottom: 30px;
  }
}

.online-cntrl--iframe {
  position: absolute;
  height: 434px;
  width: 817px;
  top: 45%;
  left: 50%;
  margin-left: -408px;
}

@media (max-width: 1050px) {
  .online-cntrl--iframe {
    position: static;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1050px) {
  .online-cntrl--iframe {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .online-cntrl--iframe {
    margin: 0 auto;
    height: 207px;
    width: 340px;
  }
}

.online-cntrl--description {
  margin: 0 auto;
  padding: 18% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

@media (max-width: 1360px) {
  .online-cntrl--description {
    padding: 20% 0 0;
  }
}

@media (max-width: 1245px) {
  .online-cntrl--description {
    padding: 25% 0 0;
  }
}

@media (max-width: 1050px) {
  .online-cntrl--description {
    padding: 30% 0 0;
    background-color: #131313;
  }
  .online-cntrl--description input[type="text"] {
    color: #fff !important;
  }
}

@media (max-width: 1050px) {
  .online-cntrl--description {
    padding: 1rem 0 0;
  }
}

.online-cntrl--description--img {
  margin: 0 auto;
}

.online-cntrl--description--text {
  width: 50%;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}

@media (max-width: 1050px) {
  .online-cntrl--description--text {
    width: 80%;
    color: #FFFFFF;
  }
}

.online-cntrl--description--form {
  width: 50%;
  margin: 50px auto;
}

@media (max-width: 1050px) {
  .online-cntrl--description--form {
    width: 90%;
  }
}

.online-cntrl--description--form--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1050px) {
  .online-cntrl--description--form--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.online-cntrl--description--form--button {
  height: 51px;
  width: 200px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.online-cntrl--description--form--button:hover {
  background: #131313;
  color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
  cursor: pointer;
}

.online-cntrl--description--form--check {
  text-align: center;
  color: #131313;
}

@media (max-width: 1050px) {
  .online-cntrl--description--form--check {
    color: #FFFFFF;
  }
}

.online-cntrl--description--form--check label {
  color: #131313 !important;
}

@media (max-width: 1050px) {
  .online-cntrl--description--form--check label {
    color: #FFFFFF !important;
  }
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #E3B873 !important;
  -webkit-box-shadow: 0 1px 0 0 #E3B873 !important;
  box-shadow: 0 1px 0 0 #E3B873 !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: #E3B873 !important;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #FFFFFF !important;
  border-bottom: 2px solid #FFFFFF !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #E3B873 !important;
  background-color: #E3B873 !important;
}

.type-of-repairs {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FFFFFF;
}

.type-of-repairs__main-text {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

.wrapper-card {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 95%;
  padding: 40px 0;
  z-index: 2;
}

@media (max-width: 1275px) {
  .wrapper-card {
    width: 100%;
  }
}

@media (max-width: 1220px) {
  .wrapper-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-block {
  max-width: 392px;
  width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 1220px) {
  .card-block {
    margin: 50px;
  }
}

@media (max-width: 392px) {
  .card-block {
    max-width: 350px;
  }
}

.card-block__img {
  display: block;
  margin: 0 auto -30%;
}

@media (max-width: 392px) {
  .card-block__img {
    max-width: 360px;
    width: 100%;
  }
}

.card-block__description {
  position: relative;
  margin: 0 auto;
  max-width: 330px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@media (max-width: 392px) {
  .card-block__description {
    max-width: 250px;
    width: 100%;
  }
}

.card-block__description--name {
  margin: 0;
  padding: 20px 40px 0;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #131313;
}

@media (max-width: 392px) {
  .card-block__description--name {
    padding: 10px 0 10px 20px;
  }
}

.card-block__description--list {
  margin: 0;
  padding: 0 10px 40px 60px;
}

@media (max-width: 392px) {
  .card-block__description--list {
    padding: 0 0 40px 40px;
  }
}

.card-block__description--list--item {
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.card-block__description--btn {
  position: absolute;
  bottom: -27px;
  left: 0;
  height: 54px;
  width: 228px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.card-block__description--btn:hover {
  background: #131313;
  color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
  cursor: pointer;
}

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  widows: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
}

.consultation input[type="text"] {
  color: #fff !important;
}

@media (max-width: 1080px) {
  .consultation {
    display: none;
  }
}

.consultation .list {
  position: relative;
  margin-left: -25%;
  height: 636px;
  width: 636px;
  border: 3px solid #E3B873;
  border-radius: 50%;
}

.consultation .list__item {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'FuturaMediumC';
  width: 300px;
  height: 0;
  font-size: 18px;
  line-height: 21px;
  color: #131313;
  list-style: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.consultation .list__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.consultation .list__item:nth-child(1) {
  top: 41px;
  right: -577px;
}

.consultation .list__item:nth-child(1):before {
  content: "01";
  position: absolute;
  top: -1px;
  left: -76px;
  padding: 10px 13px;
  border-radius: 50%;
  background-color: #E3B873;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: 10px solid white;
}

.consultation .list__item:nth-child(2) {
  top: 184px;
  right: -666px;
}

.consultation .list__item:nth-child(2):before {
  content: "02";
  position: absolute;
  top: -23px;
  left: -76px;
  padding: 10px 13px;
  border-radius: 50%;
  background-color: #E3B873;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: 10px solid white;
}

.consultation .list__item:nth-child(3) {
  top: 350px;
  right: -666px;
}

.consultation .list__item:nth-child(3):before {
  content: "03";
  position: absolute;
  top: -23px;
  left: -76px;
  padding: 10px 13px;
  border-radius: 50%;
  background-color: #E3B873;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: 10px solid white;
}

.consultation .list__item:nth-child(4) {
  top: 452px;
  right: -577px;
}

.consultation .list__item:nth-child(4):before {
  content: "04";
  position: absolute;
  top: -11px;
  left: -76px;
  padding: 10px 13px;
  border-radius: 50%;
  background-color: #E3B873;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: 10px solid white;
}

.consultation .list__wrapper {
  background-image: url("./assets/img/consultation/image 6.1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.form__wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__block {
  max-width: 509px;
  width: 100%;
  background-color: #131313;
}

.form__block__title {
  margin: 0 auto;
  width: 300px;
  padding: 28px 0 39px;
  font-family: 'FuturaDemiC';
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.form__block__input {
  width: 400px;
  margin: 0 50px;
  padding: 0 0 48px;
  color: #FFFFFF;
}

.form__block__check {
  margin: -40px 50px 20px;
  font-family: 'FuturaBookC';
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.form__block__btn {
  position: relative;
  left: 285px;
  margin: 20px auto;
  height: 51px;
  width: 200px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.form__block__btn:hover {
  background: #FFFFFF;
  color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
  cursor: pointer;
}

.coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coins-text {
  width: 340px;
  font-family: 'FuturaDemiC';
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
}

.fantasies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1018px;
  background-color: #FFFFFF;
  background-image: url("./assets/img/fantasies/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 center;
}

@media (max-width: 1050px) {
  .fantasies {
    display: block;
    background-color: #131313;
    background-image: none;
    height: auto;
  }
}

.fantasies__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

@media (max-width: 1050px) {
  .fantasies__text {
    margin: 0;
    text-align: center;
    display: block;
  }
}

.fantasies__title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

@media (max-width: 1050px) {
  .fantasies__title {
    margin: 0;
    padding: 10px 0;
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
  }
}

.fantasies__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 1050px) {
  .fantasies__list {
    display: none;
  }
}

.fantasies__item {
  padding: 0 0 13px;
  font-family: 'Proxima Nova';
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 1050px) {
  .fantasies__item {
    display: none;
  }
}

.fantasies__item--active {
  color: #E3B873;
  text-decoration: underline;
}

.fantasies__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.fantasies__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 1018px;
  -webkit-box-flex: 0;
      -ms-flex: 0 10 50%;
          flex: 0 10 50%;
}

@media (max-width: 1050px) {
  .fantasies__imgs {
    display: none;
  }
}

.fantasies__img {
  margin: 0 0 0;
  padding: 50px 40px 0 0;
}

@media (max-width: 1050px) {
  .fantasies__img {
    display: none;
  }
}

.fantasies__img:nth-child(1) {
  margin: 20px 0 -10px;
}

.fantasies__img:nth-child(3) {
  margin: -50px 0 -10px;
}

.fantasies__mobile {
  display: none;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

@media (max-width: 1050px) {
  .fantasies__mobile {
    display: block;
  }
}

.fantasies__mobile .next,
.fantasies__mobile .prev {
  position: absolute;
  top: 45%;
}

.fantasies__mobile .next {
  right: 10px;
}

.fantasies__mobile__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fantasies__mobile__wrapper img {
  margin: 0 auto;
  width: 100%;
}

.design {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  position: relative;
}

@media (max-width: 700px) {
  .design {
    background-color: #131313;
  }
}

.design__title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

@media (max-width: 700px) {
  .design__title {
    color: #FFFFFF;
  }
}

.design__logo {
  text-align: center;
}

.design__text {
  margin: 0 auto;
  padding: 10px 0 0;
  width: 65%;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #131313;
}

@media (max-width: 700px) {
  .design__text {
    color: #FFFFFF;
  }
}

.design__black-block {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #131313;
  z-index: 1;
}

@media (max-width: 1090px) {
  .design__black-block {
    display: none;
  }
}

.goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #131313;
  padding: 0 0 50px;
  margin: 0 auto;
}

@media (max-width: 1285px) {
  .goals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 765px) {
  .goals {
    display: none;
  }
}

.goals__text {
  width: 25%;
  padding: 0 50px 0 0;
}

@media (max-width: 1285px) {
  .goals__text {
    margin: 0 auto;
  }
}

.goals__prev {
  margin: 0;
  font-family: 'FuturaDemiC';
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.goals__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 50px;
}

.goals__title > p {
  width: 45%;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

.goals__title img {
  margin: 0 auto;
}

.goals__slide-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goals__slide-text__number-section {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.goals__slide-text__title {
  width: 250px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: #E3B873;
}

.goals__slide-text__text {
  width: 330px;
  padding: 0 0 60px;
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.goals__slide {
  padding: 0;
  width: 50%;
  height: 100%;
}

@media (max-width: 1285px) {
  .goals__slide {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .goals__slide img {
    display: block;
    text-align: center;
  }
}

.goals__slide__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.goals__slide__item {
  padding: 30px 0;
  width: 33.3%;
  height: 50%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.goals__slide__item--active .goals__slide__number,
.goals__slide__item--active .goals__slide__description {
  opacity: 1;
}

.goals__slide__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.goals__slide__number {
  width: 20px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 1px solid #E3B873;
  opacity: 0.4;
}

.goals__slide__description {
  width: 122px;
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.4;
}

.team {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
}

.team__title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team__about-text {
  width: 30%;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 700px) {
  .team__about-text {
    width: 60%;
  }
}

.team__card {
  position: relative;
  margin: 0;
}

@media (max-width: 1190px) {
  .team__card {
    margin-bottom: 50px;
  }
}

.team__card-description {
  max-width: 228px;
  width: 100%;
  bottom: 85px;
}

.team__card-img {
  display: block;
  margin: 0 auto;
}

.team__card-name {
  padding: 20px 0 0;
  width: 100%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.team__card-position {
  display: block;
  margin: 10px auto;
  padding: 0 0 30px;
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #252525;
  opacity: 0.4;
}

.team__card-logo {
  position: absolute;
  top: -50px;
  left: 0;
}

.team__btn {
  bottom: -50px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.team__white-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #FFFFFF;
}

@media (max-width: 1190px) {
  .team__white-block {
    display: none;
  }
}

.about-team {
  width: 45%;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #131313;
}

.clients {
  padding: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  background-image: url("./assets/img/clients/Frame.svg");
  background-position: bottom;
  background-repeat: repeat-x;
}

@media (max-width: 700px) {
  .clients {
    display: none;
  }
}

.clients__title {
  padding: 70px 0 0;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

.clients__about-text {
  width: 25%;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.clients__description {
  max-width: 376px;
  height: 100%;
  width: 100%;
}

.clients__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__img {
  padding: 10px 50px;
  border-radius: 50%;
}

.clients__name {
  justify-items: flex-start;
  width: 50%;
}

.clients__comments {
  padding: 0 30px 60px 20px;
  font-family: 'FuturaBookC';
  font-size: 15px;
  line-height: 180%;
  text-transform: capitalize;
  color: #252525;
  opacity: 0.4;
}

.clients__btn {
  width: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__sizes {
  width: 45%;
  height: 100%;
  border-right: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__sizes__size {
  margin: 0;
  padding: 0 10px;
}

.clients__days {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__days__img {
  padding-left: 10px;
}

.clients__days__day {
  margin: 0;
  padding: 0 10px;
}

.contacts {
  position: relative;
  background-color: #252525;
  background-image: url("./assets/img/contacts/bg.svg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  .contacts {
    background-color: #131313;
    background-image: none;
  }
}

.contacts__form {
  margin: -222px auto 10px;
  max-width: 833px;
  width: 100%;
  height: 445px;
  position: relative;
  background-color: #131313;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.contacts__form input[type="text"] {
  color: #fff !important;
}

@media (max-width: 833px) {
  .contacts__form {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .contacts__form {
    margin: 10px auto;
  }
}

.contacts__form--wrapper {
  max-width: 520px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .contacts__form--wrapper {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__questions {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 700px) {
  .contacts__questions {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__your-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto -50px;
  max-width: 520px;
  width: 100%;
}

@media (max-width: 700px) {
  .contacts__your-contact {
    margin: 0 auto;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 700px) {
  .contacts .form__block__input {
    width: 300px;
    padding: 0 0 20px;
    margin: 0 auto;
  }
}

.contacts__button {
  margin: 0 20px 0 0;
  width: 207px;
  height: 51px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  background-color: #E3B873;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

@media (max-width: 700px) {
  .contacts__button {
    margin: 0 auto;
    width: 90%;
    height: 51px;
    line-height: 51px;
  }
}

.contacts__button:hover {
  background: #FFFFFF;
  color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
  cursor: pointer;
}

@media (max-width: 700px) {
  .contacts__check {
    margin: 0 50px 20px !important;
  }
}

.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 700px) {
  .contacts__socials {
    padding: 20px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.contacts__adress {
  width: 70%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.contacts__map {
  max-width: 833px;
  width: 100%;
  height: 445px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.contacts__map img {
  width: 100%;
}

@media (max-width: 833px) {
  .contacts__map {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 700px) {
  .contacts__map {
    padding: 50px 0 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 83px;
  background: #131313;
}

@media (max-width: 700px) {
  .footer {
    display: none;
  }
}

.footer__logo {
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.footer__menu {
  max-width: 582px;
  width: 100%;
}

@media (max-width: 1080px) {
  .footer__menu {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .footer__menu {
    display: none;
  }
}

.footer__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer__menu .menu__link {
  font-family: 'FuturaBookC';
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 1080px) {
  .footer__menu .menu__link {
    font-size: 10px;
    line-height: 12px;
  }
}

.footer__menu .menu__link--active {
  color: #E3B873;
}

.footer__link-tel {
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 1080px) {
  .footer__link-tel {
    font-size: 10px;
    line-height: 12px;
  }
}

.footer__link-tel:hover {
  color: #FFFFFF;
}

.footer__button {
  height: 37px;
  width: 161px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 1080px) {
  .footer__button {
    height: 25px;
    width: 100px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 800px) {
  .footer__button {
    display: none;
  }
}

.footer__button:hover {
  background: #FFFFFF;
  color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
  cursor: pointer;
}

.footer__link-tel {
  font-family: 'FuturaDemiC';
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 1080px) {
  .footer__link-tel {
    font-size: 10px;
    line-height: 12px;
  }
}

.footer__link-tel:hover {
  color: #FFFFFF;
}

.footer__link-tel__button {
  height: 37px;
  width: 161px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: none;
  border-radius: 2px;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 1080px) {
  .footer__link-tel__button {
    height: 25px;
    width: 100px;
    font-size: 10px;
    line-height: 12px;
  }
}

.footer__link-tel__button:hover {
  background: #FFFFFF;
  color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
  cursor: pointer;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./assets/fonts/ProximaNova-Regular.eot");
  src: url("./assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Regular.woff2") format("woff2"), url("./assets/fonts/ProximaNova-Regular.woff") format("woff"), url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url("./assets/fonts/FuturaBookC.eot");
  src: url("./assets/fonts/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/FuturaBookC.woff2") format("woff2"), url("./assets/fonts/FuturaBookC.woff") format("woff"), url("./assets/fonts/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url("./assets/fonts/FuturaDemiC.eot");
  src: url("./assets/fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/FuturaDemiC.woff2") format("woff2"), url("./assets/fonts/FuturaDemiC.woff") format("woff"), url("./assets/fonts/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url("./assets/fonts/FuturaMediumC.eot");
  src: url("./assets/fonts/FuturaMediumC.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/FuturaMediumC.woff2") format("woff2"), url("./assets/fonts/FuturaMediumC.woff") format("woff"), url("./assets/fonts/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yeseva One';
  src: url("./assets/fonts/YesevaOne.eot");
  src: url("./assets/fonts/YesevaOne.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/YesevaOne.woff2") format("woff2"), url("./assets/fonts/YesevaOne.woff") format("woff"), url("./assets/fonts/YesevaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */